<% for column in Bookinfo.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @bookinfo.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @bookinfo %> |
<%= link_to 'Back', :action => 'list' %>
